body {
    background-color: #1A1A1A;
    color: #F8F8F7;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #1E1E1E;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #F8F8F7;
    margin-bottom: 20px;
}

.search-container {
    margin-top: 20px;
}

#search-bar {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2C2C2C;
    background-color: #2C2C2C;
    color: #F8F8F7;
}

#products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    background-color: #2C2C2C;
    border: 1px solid #1E1E1E;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.product-card h3 {
    color: #F8F8F7;
    margin-bottom: 10px;
}

.product-card p {
    color: #F8F8F7;
    margin-bottom: 15px;
}

.buy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.buy-button:hover {
    background-color: #0056b3;
}

/* Snowflake animation */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    position:fixed;
    top:-1em;
    z-index:-1;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:default;
    -webkit-animation-name:snowflakes;
    -webkit-animation-duration:10s;
    -webkit-animation-timing-function:linear;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-play-state:running;
    -moz-animation-name:snowflakes;
    -moz-animation-duration:10s;
    -moz-animation-timing-function:linear;
    -moz-animation-iteration-count:infinite;
    -moz-animation-play-state:running;
    animation-name:snowflakes;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-play-state:running;
}
@-webkit-keyframes snowflakes {
    0%{-webkit-transform:translate3d(0,0,0)}
    50%{-webkit-transform:translate3d(100px,50vh,0)}
    100%{-webkit-transform:translate3d(0,100vh,0)}
}
@-moz-keyframes snowflakes {
    0%{-moz-transform:translate3d(0,0,0)}
    50%{-moz-transform:translate3d(100px,50vh,0)}
    100%{-moz-transform:translate3d(0,100vh,0)}
}
@keyframes snowflakes {
    0%{transform:translate3d(0,0,0)}
    50%{transform:translate3d(100px,50vh,0)}
    100%{transform:translate3d(0,100vh,0)}
}
